* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
    ;
    outline: none;
    border: none;
}

body {
    background-color: #555555;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    overflow: hidden;
    width: 250px;
    height: 100px;
    font-size: 1.85rem;
    font-weight: bold;
    background-color: #1194ff98;
    color: black;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
}

.btn::after {
    content: "";
    transform: rotate(-32deg);
    position: absolute;
    left: -105%;
    bottom: -246%;
    width: 300px;
    height: 275px;
    background-color: rgba(55, 0, 255, 0.459);
    transition: all 0.75s ease 0s;
    z-index: -1;
}

.btn:hover::after {
    left: 95%;
    bottom: 29%;
}